.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1050;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    background-color: #fff;
    position: relative;
    max-width: 400px;
    width: 90%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-103%);
            transform: translateX(-103%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;            
}

.menu--visible .app-menu {
    -webkit-transform: none;
            transform: none;
}

.menu--animatable .app-menu {
    transition: all 130ms;
}

.menu--visible.menu--animatable .app-menu {
    transition: all 330ms;
}

.menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s;
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}

.menu-content {
    position: relative;
    overflow: hidden;
    .menu-tabs {
        transform: translateX(0);
    }
    .menu-panels {
        transform: translateX(100%);        
    }
    &.show-panels {
        .menu-tabs {
            transform: translateX(-100%);
        }
        .menu-panels {
            transform: translateX(0);
        }
    }
}
.menu-tabs, .menu-panels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}